{% extends 'beets/base.html' %}
{% block title_block %}
    Create Persona
{% endblock %}

{% block body_block %}
    <h1>Create a new Persona</h1>
<div>
    <form id="persona_form" method="post" action="{% url 'beets:add_persona' %}">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
        {% endfor %}
        <input type="submit" name="submit" value="Create Persona"/>
    </form>
</div>
{% endblock %}