{% extends 'beets/base.html' %}
{% load staticfiles %}
{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
<div class="display-2 mb-2">Login</div>
{{error}}
<form id="login_form" method="post" action="{% url 'beets:login' %}">
{% csrf_token %}
<div class="p-2">Username: <input type="text" name="username" value="" size="50" /></div>
<br />
<div>Password: <input type="password" name="password" value="" size="50" /></div>
<br />
<input type="submit" value="submit" />
</form>
{% endblock %}